---
interface Props {
  type: 'blog' | 'github' | 'x' | 'zenn' | 'linkedin' | 'readme';
}

const { type } = Astro.props;
---

<span class="social-icon" aria-hidden="true">
  {
    type === 'github' && (
      <svg viewBox="0 0 24 24" focusable="false">
        <path d="M12 .5a12 12 0 0 0-3.79 23.39c.6.1.82-.26.82-.58v-2.04c-3.34.73-4.04-1.42-4.04-1.42-.55-1.38-1.34-1.74-1.34-1.74-1.1-.75.09-.74.09-.74 1.22.09 1.86 1.25 1.86 1.25 1.08 1.85 2.84 1.31 3.53 1 .11-.79.42-1.31.77-1.62-2.66-.3-5.46-1.33-5.46-5.91 0-1.31.46-2.38 1.24-3.22-.13-.3-.54-1.53.12-3.19 0 0 1.01-.32 3.3 1.23a11.3 11.3 0 0 1 6 0c2.29-1.55 3.3-1.23 3.3-1.23.66 1.66.25 2.89.12 3.19.77.84 1.24 1.91 1.24 3.22 0 4.59-2.8 5.61-5.47 5.91.43.37.82 1.11.82 2.25v3.33c0 .32.22.68.83.57A12 12 0 0 0 12 .5Z"></path>
      </svg>
    )
  }
  {
    type === 'x' && (
      <svg viewBox="0 0 24 24" focusable="false">
        <path d="M18.9 2H22l-6.78 7.75L23 22h-6.1l-4.78-6.53L6.4 22H3.3l7.26-8.3L1 2h6.2l4.32 5.92L18.9 2Zm-1.07 18.2h1.69L6.27 3.7H4.45L17.83 20.2Z"></path>
      </svg>
    )
  }
  {
    type === 'zenn' && (
      <svg viewBox="0 0 88 88" focusable="false">
        <path d="M16 22h55l-8 11H8l8-11Zm0 17h55l-8 11H8l8-11Zm0 17h55l-8 11H8l8-11Z"></path>
      </svg>
    )
  }
  {
    type === 'linkedin' && (
      <svg viewBox="0 0 24 24" focusable="false">
        <path d="M5.5 8.5A1.8 1.8 0 1 1 5.5 5a1.8 1.8 0 0 1 0 3.5ZM4 10h3v10H4V10Zm5 0h2.9v1.4h.04c.4-.76 1.38-1.55 2.85-1.55C18 9.85 20 12 20 15.3V20h-3v-4c0-1.9-.68-3.2-2.37-3.2-1.3 0-2.07.87-2.4 1.7-.13.3-.16.72-.16 1.13V20H9V10Z"></path>
      </svg>
    )
  }
  {
    type === 'blog' && (
      <svg viewBox="0 0 24 24" focusable="false">
        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2Zm6.8 9h-3.1a14 14 0 0 0-1.2-5A8.02 8.02 0 0 1 18.8 11ZM12 4.1c.9 1.3 1.8 3.5 2.1 6H9.9c.3-2.5 1.2-4.7 2.1-6ZM5.2 13h3.1a14 14 0 0 0 1.2 5A8.02 8.02 0 0 1 5.2 13Zm3.1-2H5.2a8.02 8.02 0 0 1 4.3-5 14 14 0 0 0-1.2 5Zm3.7 8.9c-.9-1.3-1.8-3.5-2.1-5h4.2c-.3 1.5-1.2 3.7-2.1 5Zm2.5-6.9H9.5a12.6 12.6 0 0 1 0-2h5a12.6 12.6 0 0 1 0 2Zm-.1 5a14 14 0 0 0 1.2-5h3.1a8.02 8.02 0 0 1-4.3 5Z"></path>
      </svg>
    )
  }
  {
    type === 'readme' && (
      <svg viewBox="0 0 24 24" focusable="false">
        <path d="M6 3h8l4 4v14H6V3Zm8 1.5V8h3.5L14 4.5ZM8 10h8v1.8H8V10Zm0 3.4h8v1.8H8v-1.8Zm0 3.4h5v1.8H8v-1.8Z"></path>
      </svg>
    )
  }
</span>
